<!DOCTYPE html>
<html lang="en">

<head>
    <script src="./script.js"></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="../../assets/css/login_style.css">
</head>

<body>
    <main>
        <section>

            <a class="" href="./home.html">
                <h2>Voltar</h2>
            </a>

            <form id="logonForm">
                <hr>
                <h2>Cadastrar Usuario</h2>
                <hr>
                <input id="username" type="nome" name="nome" placeholder="Digite o seu nome de usuario" required>
                <input id="email" type="email" name="email" placeholder="Digite o seu email" required>
                <input id="adress" type="text" name="endereco" placeholder="Digite a seu endereço" required>
                <input id="password" type="password" name="senha" placeholder="Digite a sua senha" required>
                <input type="submit" id="button" value="Entrar">
                <p>Já tem um login?
                    <a href="login.html">Clique aqui!</a>
                </p>
            </form>
        </section>
    </main>
</body>

</html>