<!DOCTYPE html>
<html lang="en">

<head>
    <script src="script.js"></script>
    <link rel="stylesheet" href="../../assets/css/profile.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuario</title>

</head>

<body onload="userInfoRender()">
    <main>
        <section class="userContainer">
            <section class="userProfileImg">
                <img class="profileImg" src="../../assets/img/JiminDoBts.jpg" alt="ProfilePic">
            </section>
            <section class="container">
                <div class="userInformation">
                    <h2>Username</h2>
                    <p id="username">Name</p>
                    <h2>Endereço</h2>
                    <p id="adress"> Rua: </p>
                </div>
                <div class="buttonExit">
                    <button onclick="logout()">Finalizar sessão</button>
                    <a href="./home.html">Voltar</a>
                </div>
            </section>
        </section>
    </main>
</body>

</html>