<!DOCTYPE html>
<html lang="en">
<head>
    <script src="script.js"></script>
    <link rel="stylesheet" href="../../assets/css/profile.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuario</title>

</head>
<body>
    <main>
        <div class="userContainer">
            <a href="./home.html">Voltar</a>
            <img class="profileImg" src="../../assets/img/JiminDoBts.jpg" alt="ProfilePic">
            <h2>Username</h2>
            <h2>Endereço</h2>
            <h2>Compras</h2>
            <button onclick="logout()">Finalizar sessão</button>
        </div>
    </main>
</body>
</html>